body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #ff9696, #ffd6d6);
}

/* Cabeçalho */
header{
    background: linear-gradient(90deg, #111, #333);
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Área dos produtos */
.produtos{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 40px;
}

/* Card */
.card{
    background: white;
    width: 260px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s;
    padding-bottom: 15px;
    border: 2px solid transparent;
}

/* Efeito ao passar o mouse */
.card:hover{
    transform: translateY(-10px) scale(1.03);
    border: 2px solid #ff5c5c;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

/* Imagem corrigida */
.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-bottom: 3px solid #ff5c5c;
}

/* Título */
.card h2{
    margin: 15px 0 10px;
    color: #222;
    font-size: 24px;
}

/* Preço */
.card p{
    font-size: 22px;
    color: #2b9599;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Botão */
button{
    background: linear-gradient(90deg, #111, #444);
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

/* Hover do botão */
button:hover{
    background: linear-gradient(90deg, #ff5c5c, #ff8080);
    transform: scale(1.05);
}